﻿@model PANAGroupJobWebApp.Models.ArithModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Arith</h2>

@using (Html.BeginForm("Index", "Arith"))
{
    <fieldset>
        <legend>Do some math</legend>
        <div>
            @Html.DisplayNameFor(m => m.M)
            @Html.TextBoxFor(m => m.M)
        </div>
        <div>
            @Html.DisplayNameFor(m => m.N)
            @Html.TextBoxFor(m => m.N)
        </div>
        <div>
            @Html.DisplayNameFor(m => m.Sum)
            @Html.DisplayFor(m => m.Sum)
        </div>
        <div>
            @Html.DisplayNameFor(m => m.Difference)
            @Html.DisplayFor(m => m.Difference)
        </div>
        <div>
            @Html.DisplayNameFor(m => m.Multiplication)
            @Html.DisplayFor(m => m.Multiplication)
        </div>
        <div>
            @Html.DisplayNameFor(m => m.Ratio)
            @Html.DisplayFor(m => m.Ratio)
        </div>
        <div>
            @Html.DisplayNameFor(m => m.Remain)
            @Html.DisplayFor(m => m.Remain)
        </div>

        <input type="submit" value="Eval" />
    </fieldset>
}


