﻿<div>
    @{
        var grid = new WebGrid(null, defaultSort: "ProductId");
        grid.Bind(Model.Products, rowCount: Model.TotalRows, autoSortAndPage: false);
        if (!string.IsNullOrWhiteSpace(grid.SortColumn))
        {
        <script type="text/javascript">
            if ($(document).ready(function () {
                $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().addClass('@(grid.SortDirection == SortDirection.Ascending ? "asc" : "desc")');
            }));
        </script>
        }

    }
    @grid.GetHtml(columns: grid.Columns(
        grid.Column("ProductId"),
        grid.Column("ProductName"),
        grid.Column("CategoryName"),
        grid.Column("CompanyName"),
        grid.Column("Country")
            ))

</div>

